* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*GENERAL STYLING*/
.burger {
  width: 40px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer; }
  .burger .line {
    width: 100%;
    height: 5px;
    background-color: white; }

.section-title {
  font-size: 3.5em;
  color: #16a085;
  font-family: "Passero One", cursive;
  margin-bottom: 50px; }

.container {
  width: 70%;
  margin: 0 auto; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.btn-sec {
  color: #2C3E50; }
  .btn-sec:hover {
    color: white;
    background-color: #2C3E50; }

.btn-prim {
  color: white; }
  .btn-prim:hover {
    background-color: white;
    color: #16a085;
    border-color: #fff; }

.btn-outline {
  border: 2px solid; }

.btn {
  border-radius: 5px;
  transition: .5s ease-in;
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn-fill {
  background-color: #16a085;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white; }

#banner {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 30px; }
  #banner > * {
    position: relative;
    z-index: 1; }
  #banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2C3E50;
    opacity: .5; }

header {
  padding-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 250px; }
  header > h1 {
    text-transform: uppercase;
    letter-spacing: 4px; }
    header > h1 span {
      color: #16a085; }
  header nav {
    width: 50%; }
    header nav ul {
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;
      align-items: center; }
    header nav a {
      color: white;
      text-decoration: none; }

.banner-content {
  text-align: center;
  color: white; }

.info-text {
  width: 50%;
  margin: 50px auto; }
  .info-text h1 {
    margin-bottom: 20px;
    color: #16a085; }

.buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px; }

.social-icons {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly; }
  .social-icons a {
    color: white;
    font-size: 2em; }

#projects .project:nth-child(odd) .project-details {
  order: 1;
  text-align: right;
  margin-right: 20px; }
  #projects .project:nth-child(odd) .project-details .tech-stack-icons {
    justify-content: flex-end; }

#projects .project:nth-child(odd) .project-img {
  order: 2; }

#projects .project {
  display: flex;
  margin-bottom: 50px; }
  #projects .project .project-img {
    flex: 1; }
    #projects .project .project-img img {
      width: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  #projects .project .project-details {
    flex: 1;
    margin-left: 20px; }
    #projects .project .project-details h2 {
      font-family: "Passero One", cursive;
      font-size: 2em;
      color: #16a085; }
    #projects .project .project-details .tech-stack-icons {
      display: flex;
      justify-content: flex-start;
      padding: 2em 0; }
      #projects .project .project-details .tech-stack-icons i {
        margin-right: 30px;
        font-size: 1.5em; }
    #projects .project .project-details p {
      line-height: 1.5;
      margin-bottom: 20px; }
    #projects .project .project-details .project-buttons {
      margin-top: 50px;
      display: flex; }
      #projects .project .project-details .project-buttons a:first-child {
        margin-right: 50px; }

@media screen and (max-width: 1024px) {
  #banner .container {
    width: 100%; }
  #banner header {
    flex-direction: column;
    margin-bottom: 50px; }
    #banner header nav {
      width: 100%; }
    #banner header ul {
      flex-direction: column; }
      #banner header ul li {
        text-align: center;
        width: 100%; }
        #banner header ul li a {
          width: 100%;
          display: block;
          background-color: #16a085;
          padding: 1em; }
        #banner header ul li:last-child {
          background-color: #2C3E50; }
          #banner header ul li:last-child a {
            background-color: #2C3E50;
            border-radius: 0px;
            transition: none;
            height: auto;
            box-shadow: none;
            text-align: center;
            line-height: 1;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0; }
  #banner h1 {
    font-size: 1.3em;
    padding-top: 1.5em;
    margin-bottom: 20px; }
  .banner-content h1 {
    font-size: 1.5em;
    text-transform: uppercase; }
  .banner-content p {
    font-size: .80em; }
  .banner-content .buttons {
    font-size: .80em;
    width: 100% !important; }
  #projects .project {
    flex-direction: column; }
    #projects .project .project-details {
      text-align: center !important; }
      #projects .project .project-details h2 {
        margin-top: 30px; }
      #projects .project .project-details .project-buttons {
        justify-content: center;
        font-size: .75em; }
      #projects .project .project-details .tech-stack-icons {
        justify-content: center !important; }
    #projects .project:nth-child(odd) .project-details {
      order: 2; }
    #projects .project:nth-child(odd) .project-img {
      order: 1; } }

.fa-laravel {
  color: #F05340; }

.fa-html5 {
  color: #F16529; }

.fa-css3-alt {
  color: #264de4; }

.fa-bootstrap {
  color: #602C50; }

.fa-sass {
  color: #cd6799; }
