$primary: #16a085
$secondary: #2C3E50
$roboto: 'Roboto', sans-serif
$passero: 'Passero One', cursive
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

*
  padding: 0
  margin: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

/*GENERAL STYLING*/
.burger
  width: 40px
  height: 40px
  display: none
  flex-direction: column
  justify-content: space-evenly
  cursor: pointer

  .line
    width: 100%
    height: 5px
    background-color: white

.section-title
  font-size: 3.5em
  color: $primary
  font-family: $passero
  margin-bottom: 50px

.container
  width: 70%
  margin: 0 auto

body
  font-family: $roboto
  font-size: 16px

.btn-sec
  color: $secondary
  &:hover
    color: white
    background-color: $secondary

.btn-prim
  color: white
  &:hover
    background-color: white
    color: $primary
    border-color: #fff

.btn-outline
  border: 2px solid

.btn
  border-radius: 5px
  transition: .5s ease-in
  display: inline-block
  width: 200px
  height: 50px
  text-align: center
  line-height: 50px
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 1px

.btn-fill
  background-color: $primary
  box-shadow: $shadow
  color: white


#banner
  width: 100%
  height: 100vh
  background-image: url('https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
  -webkit-background-size: cover
  background-size: cover
  background-position: center
  position: relative
  margin-bottom: 30px

  > *
    position: relative
    z-index: 1

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $secondary
    opacity: .5


header
  padding-top: 50px
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
  color: white
  margin-bottom: 250px

  > h1
    text-transform: uppercase
    letter-spacing: 4px

    span
      color: $primary

  nav
    width: 50%

    ul
      display: flex
      list-style-type: none
      justify-content: space-evenly
      align-items: center

    a
      color: white
      text-decoration: none

.banner-content
  text-align: center
  color: white

.info-text
  width: 50%
  margin: 50px auto

  h1
    margin-bottom: 20px
    color: $primary

.buttons
  width: 50%
  margin: 0 auto
  display: flex
  justify-content: space-evenly
  margin-bottom: 50px
.social-icons
  display: flex
  width: 50%
  margin: 0 auto
  justify-content: space-evenly
  a
    color: white

    font-size: 2em


//Reverse order of projects.
#projects .project:nth-child(odd)
  .project-details
    order: 1
    text-align: right
    margin-right: 20px
    .tech-stack-icons
      justify-content: flex-end
  .project-img
    order: 2


#projects
  .project
    display: flex
    margin-bottom: 50px
    .project-img
      flex: 1
      img
        width: 100%
        box-shadow: $shadow
    .project-details
      flex: 1
      margin-left: 20px
      h2
        font-family: $passero

        font-size: 2em
        color: $primary
      .tech-stack-icons
        display: flex
        justify-content: flex-start
        padding: 2em 0
        i
          margin-right: 30px
          font-size: 1.5em
      p
        line-height: 1.5
        margin-bottom: 20px
      .project-buttons
        margin-top: 50px
        display: flex
        a:first-child
          margin-right: 50px



#about-me
  background-color: $primary
  color: white
  .about-me-text
    width: 80%
    margin: 0 auto
    text-align: center
    h1
      margin-bottom: 20px
      text-transform: uppercase
    h4
      font-size: 1.5rem

  .section-title
    color: white
    padding-top: 30px
@media screen and (max-width: 1024px)
  #banner
    .container
      width: 100%
    header
      flex-direction: column
      margin-bottom: 50px
      nav
        width: 100%
      ul
        flex-direction: column
        li
          text-align: center
          width: 100%
          a
            width: 100%
            display: block
            background-color: $primary
            padding: 1em
          &:last-child
            background-color: $secondary
            a
              background-color: $secondary
              border-radius: 0px
              transition: none
              height: auto
              box-shadow: none
              text-align: center
              line-height: 1
              text-decoration: none
              text-transform: uppercase
              letter-spacing: 0

    h1
      font-size: 1.3em
      padding-top: 1.5em
      margin-bottom: 20px
  .banner-content
    h1
      font-size: 1.5em
      text-transform: uppercase
    p
      font-size: .80em
    .buttons
      font-size: .80em
      width: 100% !important
  #projects .project
    flex-direction: column
    .project-details
      text-align: center !important
      h2
        margin-top: 30px
      .project-buttons
        justify-content: center

        font-size: .75em
      .tech-stack-icons
        justify-content: center !important
    &:nth-child(odd)
      .project-details
        order: 2
      .project-img
        order: 1



.fa-laravel
  color: #F05340

.fa-html5
  color: #F16529

.fa-css3-alt
  color: #264de4

.fa-bootstrap
  color: #602C50
// .fa-git
.fa-sass
  color: #cd6799